@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*basic css reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --FF:"Roboto", sans-serif;
}
/*variables*/
:root{
    /*FONT*/
    --FF: "Roboto", sans-serif; /*variable for the font family*/
    --FS:  1.5rem; /*variable for the font size*/
    --FS-XL: 3rem; /*varible for the large font size*/
     
    /*COLOR*/
    --BGCOLOR: #475569; /*making variables for the colors*/
    --ALT-BGCOLOR: #1E293B;
    --RADIAL-COLOR: whitesmoke;
    --LIGHT-COLOR: whitesmoke;
    --DARK-COLOR: #000;

    /*SQUARE*/
    --SQUARE-BGCOLOR: papayawhip;
    --SQUARE-SIZE: max(150px, 20vw); /*max picks the larger of both values*/

    /*GENERAL STYLES*/
    --PADDING: 0.5rem;
    --SHADOWS: 0 10px 5px -5px var(--DARK-COLOR);
    --BORDERS:  2px solid var(--DARK-COLOR); 
}

/* the media querie only applies if you prefer the dark mode as your default on your pc*/
@media (prefers-color-scheme: dark){
    :root {
        --BGCOLOR: #000;
        --ALT-BGCOLOR: #333;
        --RADIAL-COLOR: rgb(221, 219, 219);
        --SQUARE-BGCOLOR: rgb(195, 163, 195);
    }
}

body{
    font: var(--FS) var(--FF); 
    min-height: 100vh;
    background-color: var(--BGCOLOR); /*setting the background color*/
    /*radial gradient starts from the centre and wokrs it way out*/
    background-image: radial-gradient(var(--RADIAL-COLOR),var(--BGCOLOR));
    display: flex;
    flex-direction: column;
}

header,nav,footer{
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}

header, footer{
    position: sticky;/*so the header and footer stay in their respective positions if the page scrolls*/
    background-color: var(--ALT-BGCOLOR); /*set background color of the header and footer*/ 
    color: var(--LIGHT-COLOR);
}

header{
    top: 0; /*Place the header at the top*/
}

nav{
    background-color: var(--LIGHT-COLOR);
    padding: var(--PADDING);
    border-bottom: var(--BORDERS);

    /*creates a shadow underneath the nav*/
    box-shadow: var(--SHADOWS); /*x offset, y offset, blur value and spread value respectively*/

    font-weight: bolder; /*increase font wieght*/
    display: flex; 
    justify-content: space-evenly; /*spread out contents of the nav evenly*/
}

main{
    flex-grow: 1; /*increase the size of the main elements flex box to fill out the page*/

    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: row wrap;
    gap: min(4vw, 15px);
}

footer{
    bottom: 0;/*Place the footer at the bottom*/
}

/*FEATURES*/
.square--highlight{
    --SQUARE-BGCOLOR: cornflowerblue; /*changing the value of the --SQUARE--BGCOLOR variable*/
}

.square{
    background-color: var(--SQUARE-BGCOLOR);
    width: var(--SQUARE-SIZE);
    height: var(--SQUARE-SIZE);
    border: var(--BORDERS);
    border-radius: 15px;
    display: grid;
    place-content: center;
    font-size: var(--FS-XL);
    box-shadow: var(--SHADOWS);
}

